@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #02111b;
  --primary: #4ad34a;
  --primary-hover: #77e677;
  --dark: #02111b;
  --light-gray: #ccd1c9;
  --light: #f8fff4;
  --dark-gray: #848484;
  --secondary: #028090;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-dark: var(--dark);
  --color-light-gray: var(--light-gray);
  --color-light: var(--light);
  --color-dark-gray: var(--dark-gray);
  --color-accent: var(--secondary);
  --font-title: var(--font-lora);
  --font-text: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora);
}

.intro {
  background-image: url("/chakra.webp");
  background-size: cover;
  background-position: center;
}

.intro {
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.infoHeader {
  background-image: url("/page-banner.webp");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.infoHeader {
  position: relative;
}

@media (max-width: 768px) {
  .infoHeader,
  .intro {
    background-attachment: scroll;
  }
}
